* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 3rem;
}

.choice {
  height: 165px;
  width: 165px;

  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  background-color: #081b31;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 10px;
  }
  .choice {
    height: 100px;
    width: 100px;
  }
  img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#userscore,
#compscore {
  font-size: 4rem;
}

.msgcontainer {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  display: inline;
  border-radius: 1rem;
}

@media (max-width: 700px) {
  #userscore,
  #compscore {
    font-size: 2rem;
  }
  #msg {
    font-size: 1rem;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
  }
}
